.cc-loader {
  margin-top: 50px;
  position: relative;
  margin-left: -132px;
}

.cc-loader-text {
  position: absolute;
  float: right;
  margin-top: 14px;
  margin-left: 6px;
}
.cc-menu-lateral {
  z-index: 3; 
  width: 310px;
}

.cc-complemento {
  padding: 32px;
}

.cc-field-validate {
  display: none;
  padding-left: 5px;
}